/* .st-emotion-cache-ocqkz7{
    gap: 1rem;
} */

.st-emotion-cache-1r6slb0{
    margin-left: -100px;
    position: relative;
}

/* @media (min-width: 1200px) {
    .st-emotion-cache-1r6slb0 {
        left: -6%;
    }
} */

